p{  
            text-align: center;  
        } 
        .header-p{
            font-size: 20px;
            margin-left:20px;
        }
        .start-btn{
            border-radius: 5px;  
            background-color: cornflowerblue;  
        }
        .modal{
            width:100%;
            height: 100%;
            background: rgba(0,0,0,.5);
            display: none;
            position: fixed;
            top:0;
            left:0;
            z-index: 1;
        }
        .modal-content{
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: nowrap;
            margin: 100px auto; 
            overflow: auto;   
            width:50%;
            height: 40%;
            background-color:#fff;  

        }
        .modal-header{  
            box-sizing:border-box;  
            border-bottom:1px solid #ccc;  
            display: flex;  
            justify-content: space-between;  
            align-items: center;  
        } 
        #modal-header-close{
            float: right;
            color: #b7b7b7;  
            font-size: 30px;  
            font-weight: bold;  
            margin-right: 20px; 
        }
        #modal-header-close:hover{  
            color: #95b4ed;  
            text-decoration: none;  
            cursor: pointer;  
        } 
       
        .modal-text{
            padding: 10px;  
            font-size: 16px;  
            box-sizing:border-box;  
           
        }
        .modal-footer{
            box-sizing:border-box;  
            border-top:1px solid #ccc;  
            display: flex;  
            padding: 15px;  
            justify-content: flex-end;  
            align-items: center;
        }
        #close-btn{
            width: 60px;  
            height: 35px;  
            padding: 5px;  
            box-sizing: border-box;  
            margin-right: 10px;  
            font-size: 16px;  
            color: white;  
            border-radius: 5px;  
            background-color: cornflowerblue;  
        }